/*
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/
:root {
  --color1: #fbfcff;
  --color2: #003454;
  --amarillo: #e0ba28;
}
@font-face {
  font-family: "hregular";
  src: url("./fonts/HurmeGeometricSans4-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "hsimibold";
  src: url("./fonts/HurmeGeometricSans4-SemiBold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-family: "hsimibold", "Roboto Slab", serif;
}

header {
  /* background: url("./img2/Elemento_Landing_Fondo1.jpg"); */
  background: rgb(0, 80, 175);
  background: linear-gradient(
    90deg,
    rgba(0, 80, 175, 1) 0%,
    rgba(50, 118, 200, 1) 49%,
    rgba(0, 80, 175, 1) 100%
  );
}
.navbar-brand {
  margin-right: 0;
}
nav {
  animation: arriba 1s ease-in;
}
nav ul {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

.container-a a {
  padding: 0 8px;
  color: white;
  transition: 0.5s;
}
.container-a a:hover {
  border-bottom: 1px solid white;
  color: rgb(238, 224, 224);

  text-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
}
ol,
ul {
  margin: 0;
  padding: 0;
}
/*
estilos de contenedor chat
*/
.chat {
  position: sticky;
  top: 85vh;
  z-index: 999;
  /* right: 0; */
  float: right;
  padding: 20px;
}
.chat > .whatsap > a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 1s;
}
.chat > .whatsap > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  /*   border: 2px solid rgb(18, 235, 18); */
  box-shadow: 0 0 10px rgba(18, 235, 18, 0.5);
  animation: resaltar 1s infinite;
}
@keyframes resaltar {
  0% {
    opacity: 1;
  }
  50% {
    width: 38px;
    height: 37px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*fin de nav-inicio de contenido secion 1*/
.home {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
}
.home .row div h1 {
  text-align: center;
  font-size: 40px;
  /* background: #CFCFCF;
background: linear-gradient(to right, #CFCFCF 0%, #CACF3E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}
.home .row div {
  text-align: center;
  margin: auto 0;
}
.home .row div h1 {
  animation: izquierda 0.5s ease-in;
}
.home .row div h3 {
  animation: izquierda 0.5s ease-in;
}
.home .row div div img {
  animation: izquierda 0.5s ease-in;
}
.home .row div p {
  animation: izquierda 0.5s ease-in;
}
.home .row div a {
  animation: izquierda 0.5s ease-in;
}
.contenedor_Texto > div img {
  width: 80%;
}

.texto1 {
  font-family: "hregular";
  color: var(--color1);
  text-align: center;
  z-index: 999;
}
.cursos_home {
  margin-top: 5px;
  padding: 5px 25px;
  display: inline-block;
  border-radius: 5px;
  border: 1.5px solid var(--amarillo);
  text-decoration: none;
  color: var(--amarillo);
  font-weight: bold;
}
.cursos_home:hover {
  color: white;
  background: var(--amarillo);
  box-shadow: 0 0 10px rgba(26, 47, 139, 0.51);
}
/*lado de 8 y globos*/
.home_img {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: derecha 0.5s ease-in;
}
.cursos_home_mobile {
  margin-top: 15px;
  padding: 5px 25px;
  display: inline-block;
  display: inline-block;
  border-radius: 5px;
  border: 1.5px solid var(--amarillo);
  text-decoration: none;
  color: var(--amarillo);
  font-weight: bold;
}
.cursos_home_mobile:hover {
  color: white;
  background: var(--amarillo);
  box-shadow: 0 0 10px rgba(26, 47, 139, 0.51);
}
.cursos_home_mobile {
  display: none;
}
@keyframes izquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes arriba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes derecha {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.home_img .logo8anos {
  width: 95%;
  z-index: 9;
}
.blanco {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 32%;
  bottom: 25%;
  animation: blanco 8s infinite;
}
._b {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 30%;
  bottom: 45px;
  animation: blanco1 15s infinite;
}
.azul {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 30%;
  animation: azul 15s infinite;
}
._a {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: 32%;
  animation: azul1 10s infinite;
}

.cer4 {
  position: absolute;
  z-index: 1;
  animation: agrandar infinite 4s;
  bottom: 30%;
  width: 100%;
}
@keyframes agrandar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes azul {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50% {
    transform: translateX(50px) translateY(-30px);
    opacity: 1;
  }
  100% {
    z-index: 99;
    transform: translateX(20px) translateY(-100px);
    width: 100px;
    height: 120px;
    opacity: 0;
  }
}
@keyframes azul1 {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50% {
    transform: translatex(-100px) translateY(-250px);
    z-index: 99;
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    width: 100px;
    height: 120px;
    opacity: 0;
  }
}
@keyframes blanco {
  0% {
    width: 0px;
    height: 0px;
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    z-index: 99;
  }
  70% {
    transform: translatex(100px) translateY(-250px);
  }
  100% {
    width: 100px;
    height: 120px;
    transform: translatex(85px) translateY(-150px);
    opacity: 0;
  }
}
@keyframes blanco1 {
  0% {
    width: 0px;
    height: 0px;
    transform: translateX(50px);
    opacity: 0;
  }

  50% {
    transform: translatex(-50px) translateY(-50px);
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 120px;
    transform: translatex(-100px) translateY(-250px);
    opacity: 0;
  }
}
.ola {
  height: 80px;
  margin-top: -2px;
  background: rgb(0, 80, 175);
  background: linear-gradient(
    90deg,
    rgba(0, 80, 175, 1) 0%,
    rgba(50, 118, 200, 1) 49%,
    rgba(0, 80, 175, 1) 100%
  );
}
/*fin de la seccion de home, e inicia -----carreras-------*/

/*fin de carreras e inicia ----------cursos---------------*/
.h2 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  padding: 10px 0;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

swiper-slide {
  min-width: 320px;
  max-width: 450px;
  position: relative;
  background-position: center;
  background-size: cover;
}
i.fas.fa-search-plus.fa-rotate-90.fa-xs {
  font-size: 15px;
}
swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.swiper-slide-shadow-right.swiper-slide-shadow-coverflow {
  /* width: 90%; */
  /* height: 250px; */
  background: linear-gradient(80deg, rgb(255, 255, 255), transparent);
}

.swiper-slide-shadow-left.swiper-slide-shadow-coverflow {
  background: linear-gradient(270deg, rgb(255, 255, 255), transparent);
}
.cont-img {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 35px;
}

.cont-img li {
  display: inline;
  list-style: none;
}
.cont-img li a {
  margin-top: 2px;
  text-decoration: none;
  padding: 1px 10px;
  border: 1px solid blue;
  border-radius: 5px;
}
.cont-img li a i {
  font-size: 25px;
  transition: 0.1s;
}
.cont-img li a:hover {
  color: rgb(255, 255, 255);
  background-color: blue;
}
.cont-img li a:hover i {
  color: white;
}
a:not([href]):not([class]) {
  color: blue;
}

a:not([href]):not([class]):hover {
  color: white;
}

/*fin de cursos e inicia ------------formulario-----------*/
/* #form {
  background: linear-gradient(45deg, #333333, #169572);
  color: #fff;
  text-align: center;
  padding: 2rem;
} */
.h22 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  padding: 10px 0;
  height: 100%;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.formulario {
  margin: auto;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor_form {
  background: white;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
  padding: 5px;
}
.container p {
  margin-bottom: 0;
}
.spinner-grow {
  width: 15px;
  height: 15px;
}
.logo_container {
  text-align: center;
}

.logo_container > img {
  height: 80px;
  object-fit: cover;
}

.cupo {
  margin-top: -15px;
  font-size: 2.5rem;
  margin-top: 0;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*fin formulario e iniciar ----------footer---------------*/

.ola2 {
  background-color: #333;
  height: 50px;
  margin-bottom: -5px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
footer div div h3 {
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 27%, #fff024 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ul-footer {
}
.ul-footer li {
  list-style: none;
  margin-bottom: 2px;
}
.ul-footer li a {
  text-decoration: none;
  color: rgb(199, 186, 186);
}
.ul-footer li a i {
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
}
.ul-footer li a:hover {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(250, 250, 250, 0.5);
}
.fa-instagram {
  background: #121fcf;
  background: radial-gradient(
    circle farthest-corner at center center,
    #121fcf 0%,
    #cf1512 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-wha {
  background: rgb(4, 4, 70);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
  color: white;
}
.btn-wha:hover {
  color: green;
  background: white;
}
/*fin footer*/

/*me form*/

/*submit*/
.sign-in_btn {
  position: relative;
  padding: 5px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: rgb(61, 106, 255);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sign-in_btn:hover {
  background: rgb(61, 106, 255);
  color: white;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* .sign-in_btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.sign-in_btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
} */
/*footer*/

@media (max-width: 1250px) {
  .span_r {
    display: none;
  }
  .cupo {
    margin-top: 0px;
  }
  .text_subir {
    margin-top: -30px;
  }
}
@media (max-width: 992px) {
  .span_r {
    display: none;
  }
  .cupo {
    margin-top: 12px;
  }
  .home_img .logo8anos {
    width: 100%;
    /* height: 60%; */
  }
  .home .row .contenedor_Texto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*md*/
@media (max-width: 768px) {
  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 275px;
  }
  swiper-slide img {
    height: 380px;
    object-fit: fill;
  }
  .home {
  }
  #carreras img.contaduria {
    content: url("./img2/carreras/contaduria_general_1.png");
  }
  #carreras img.sistemas {
    content: url("./img2/carreras/sistemas_informaticos_1.png");
  }
  #carreras img.secretariado {
    content: url("./img2/carreras/secretariado_administrativo_1.png");
  }
  #carreras img.diseno {
    content: url("./img2/carreras/diseno_grafico_1.png");
  }
  #cursos img.juegos {
    content: url("./img2/cursos/desarrollo_de_video_juegos_1.png");
  }
  #cursos img.diseno {
    content: url("./img2/cursos/diseno_publicitario_1.png");
  }
  #cursos img.operador {
    content: url("./img2/cursos/ofimatica_operador_de_paquetes_1.png");
  }
  #cursos img.reparacion {
    content: url("./img2/cursos/repacion_de_computadores_y_celulares_1.png");
  }
  .h22 {
    font-size: 1.7rem;
  }
  .h2 {
    font-size: 2rem;
  }
  .cupo {
    font-size: 1.2rem;
    margin-top: -5px;
  }
  .cont-img {
    height: 25px;
  }
  .cont-img li a i {
    font-size: 16px;
  }
  .span_r {
    display: none;
  }
}
@media (max-width: 650px) {
}
@media (max-width: 576px) {
  header {
    /*  height: 100vh; */
  }
  .container-a a {
    padding: 0;
    font-size: 80%;
  }
  /*seccion 1*/
  .home {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .row {
    height: 100%;
    width: 100%;
  }
  .home .row .contenedor_Texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .contenedor_Texto div img {
    width: 80%;
  }
  .home_img {
    background: none;
  }
  .cursos_home {
    display: none;
  }
  .cursos_home_mobile {
    display: block;
  }
  .home_img .logo8anos {
    width: 80%;
  }
}
@media screen and (max-width: 300px) {
  .container-a a:nth-child(2) {
    display: none;
  }
}
